:root {
    --base: #303446;
    --crust: #232634;
    --surface: #51576d;
    --text: #c6d0f5;
    --subtext: #b5bfe2;
    --blue: #8caaee;
    --teal: #81c8be;
    --peach: #ef9f76;
    --red: #e78284;
    --mauve: #ca9ee6;
}

body {
    background-color: var(--base);
    margin: 0px;
    padding: 0px;
}

.main_content_div {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-width: 0px;
    padding: 0px;
    margin: 0px;
}

.main_title {
    font-weight: bolder;
    font-size: 7.5vh;
    font-family: Arial, Helvetica, sans-serif;

    color: var(--peach);

    margin-bottom: 0vh;

    user-select: none;
}

.main_subtitle {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;

    margin-bottom: 12.5vh;

    color: var(--subtext);
}

#login_button {
    text-decoration: none;
    outline: none;
}

#login_div {
    width: 25vw;
    height: 12.5vh;

    border-radius: 16pt;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--surface);

    transition: ease-in-out .125s;
}

#login_div:hover {
    scale: 1.2;
}

#login_div p {
    font-family: Arial, Helvetica, sans-serif;

    font-weight: bold;
    font-size: 30pt;

    color: var(--text);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label {
    color: var(--text);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14pt;

    margin-top: 10pt;
}

form input {
    color: var(--text);
    background-color: var(--surface);

    height: 22pt;
    width: 25vw;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    font-weight: bold;
    text-align: center;

    border-radius: 4pt;
    border: solid var(--subtext);

    box-shadow: none;
    text-decoration: none;
    text-shadow: none;
    outline: none;

    margin: 8pt;

    transition: ease-in-out .1s;
}

form input::placeholder {
    color: var(--base);
    font-weight: normal;
    opacity: 1;
}

form input:hover {
    scale: 1.02;
}

form input:focus {
    scale: 1.05;
}

.send_input_button {
    margin-top: 2.5vh;
    height: 30pt;
    transition: ease-in .1s;
}

.send_input_button:hover {
    scale: 1.1;
    background-color: var(--text);
    color: var(--base);
}

.send_input_button:focus {
    scale: 1.1;
    background-color: var(--text);
    color: var(--base);
}

/* flating menu stuff */

.menu_div {
    position: fixed;
    bottom: 1vh;

    display: flex;

    align-items: center;

    width: fit-content;
}

.menu_blob {
    color: var(--mauve);
    background-color: var(--surface);

    border-radius: 100%;
    margin: 1rem;;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 3rem;
    height: 3rem;

    cursor: pointer;
    transition: .125s;
}

.menu_blob:hover {
    scale: 1.25;
}