:root {
    --base: #303446;
    --crust: #232634;
    --surface: #51576d;
    --text: #c6d0f5;
    --subtext: #b5bfe2;
    --blue: #8caaee;
    --teal: #81c8be;
    --peach: #ef9f76;
    --red: #e78284;
    --mauve: #ca9ee6;
}

body {
    background-color: var(--base);
    margin: 0px;
    padding: 0px;
}

.main_content_div {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-width: 0px;
    padding: 0px;
    margin: 0px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label {
    color: var(--text);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14pt;

    margin-top: 10pt;
}

form input {
    color: var(--text);
    background-color: var(--surface);

    height: 22pt;
    width: 25vw;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    font-weight: bold;
    text-align: center;

    border-radius: 4pt;
    border: solid var(--subtext);

    box-shadow: none;
    text-decoration: none;
    text-shadow: none;
    outline: none;

    margin: 8pt;

    transition: ease-in-out .1s;
}

form input::placeholder {
    color: var(--base);
    font-weight: normal;
    opacity: 1;
}

form input:hover {
    scale: 1.02;
}

form input:focus {
    scale: 1.05;
}

.send_input_button {
    margin-top: 2.5vh;
    height: 30pt;
    transition: ease-in .1s;
}

.send_input_button:hover {
    scale: 1.1;
    background-color: var(--text);
    color: var(--base);
}

.send_input_button:focus {
    scale: 1.1;
    background-color: var(--text);
    color: var(--base);
}
